.Label {
  color: black;
}

.short {
  color: black;
  width: 60px;
}

.long {
  color: black;
  width: 120px;
}

.img {
  width: 450px;
}

.shortTitle {
  color: black;
  width: 60px;
}

.shortContext {
  padding-right: 15px;
  width: 50px;
}

.longTitle {
  color: black;
  width: 100px;
}

.longContext {
  width: 50px;
}
