.alarm-modal-backdrop {
  background-color: #00000000;
}

.alarm-modal-dialog {
  margin-right: 160px;
  margin-top: 55px;
  width: 300px;
  font-size: 0.8rem;
}

.alarm-modal-link {
  text-decoration: none;
  color: black;
}

/* .alarm-modal-content {
  position: relative;
  right: 0px;
  top: 30px;
} */

.alarm-modal-row:hover {
  background-color: #eee3e3;
}
