.alarm-modal-backdrop {
  background-color: #00000000;
}

.alarm-modal-dialog {
  margin-right: 160px;
  margin-top: 50px;
  width: 320px;
  max-width: 320px;
  font-size: 0.8rem;
}

.alarm-modal-link {
  text-decoration: none;
  color: black;
}

.alarm-modal-row:hover {
  background-color: #eee3e3;
}

.alarm-modal-nickname:hover {
  color: #4328b9;
}

.alarm-read-all {
  cursor: pointer;
}

.alarm-read-all:hover,
.alarm-read-more:hover {
  text-decoration: underline;
}
