@font-face {
  font-family: "PuradakGentleGothicR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.MemberList {
  xfont-family: "PuradakGentleGothicR";
  xfont-weight: lighter;
  color: white;
  margin: 1% 10% 2% 10%;
}

x.table {
  width: 100%;
}

xth {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  text-align: center;
  padding: 5px;
}

xtd {
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 3px;
}

td:empty::before {
  content: "-";
}
