@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

.main-content-1 {
  background-color: blueviolet;
  border-top: 1px solid red;
  border-bottom: 1px solid blue;
  width: 100%;
  height: 300vh;
}

.sticky-title {
  width: 100%;
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section {
  width: 100%;
  height: 100%;
  position: absolute;
  xbackground-color: bisque;
}

.title {
  border-top: 1px solid green;
  background-color: aquamarine;
  height: 6vh;
  display: flex;
  align-items: center;
  font-size: 2vh;
  padding-left: 3vh;
}

.content {
  height: 94vh;
  display: flex;
  justify-content: flex-end;
}

.content > img {
  width: 30%;
  height: 80%;
  object-fit: cover;
  margin: 5vh 20vh 0 0;
}
