@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ChosunGu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JSDongkang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

:root {
  --aim-base-tone: #212529;
  --aim-base-tone-up: #323539;
  --aim-base-tone-down: #000000;
  --aim-base-tone-sub: #737373;

  --aim-base-alpa: #00000000;
  --aim-fill-alpa: #000000ff;
  --aim-harf-alpa: #00000088;
  --aim-quarter-alpa: #00000044;

  --aim-border: #a6a6a6;

  /* ---------sub---------- */
  --aim-emphasis-red: #e75656;

  /* naver login */
  --aim-fill-green: #03c75a;

  /* text */
  --aim-text-default: #edeeef;
  --aim-text-sub: #7f7f7f;

  --aim-text-light: #e9e9f2;
  --aim-text-dark: #0d0d0d;

  --aim-text-href: #0d6efd;

  --aim-help-warning: #e63b4c;

  /* font size */
  --aim-small-font-size: 0.8rem;
  --aim-nomal-font-size: 1.4rem;
  --aim-large-font-size: 1.8rem;
  --aim-larger-font-size: 2rem;
  --aim-largest-font-size: 3rem;

  /* font weight */

  /* backdrop blur */
  --aim-backdrop-blur: 10px;

  /* git icon color either modes */
  --aim-git-icon-color: invert(100%);

  /* border radius */
  --aim-btn-border-radius: 3px;
  --aim-img-border-radius: 5px;
  --aim-modal-border-radius: 5px;

  --aim-btn-primary: #1329cf;

  --aim-index-content-font: "NanumSquare", sans-serif;
}

.btn-primary {
  --bs-btn-bg: #1329cf;
  --bs-btn-border-color: #1329cf;
  --bs-btn-hover-bg: #2337d3;
  --bs-btn-hover-border-color: #2337d3;
  --bs-btn-active-bg: #6c38f0;
  --bs-btn-active-border-color: #6c38f0;
  --bs-btn-disabled-bg: #1329cf;
  --bs-btn-disabled-border-color: #1329cf;
}

.btn-success {
  --bs-btn-bg: #03c75a;
  --bs-btn-border-color: #03c75a;
  --bs-btn-hover-bg: #00b853;
  --bs-btn-hover-border-color: #00b853;
  --bs-btn-active-bg: #01a54b;
  --bs-btn-active-border-color: #01a54b;
  --bs-btn-disabled-bg: #03c75a;
  --bs-btn-disabled-border-color: #03c75a;
}

.btn-tag-dark {
  --bs-btn-color: #edeeef;
  --bs-btn-bg: #323539;
  --bs-btn-border-color: #323539;
  --bs-btn-hover-color: #edeeef;
  --bs-btn-hover-bg: #3f4347;
  --bs-btn-hover-border-color: #3f4347;
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: #edeeef;
  --bs-btn-active-bg: #494d52;
  --bs-btn-active-border-color: #494d52;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #edeeef;
  --bs-btn-disabled-bg: #323539;
  --bs-btn-disabled-border-color: #323539;
}

.btn-tag-white {
  --bs-btn-color: #212529;
  --bs-btn-bg: #f5f5f5;
  --bs-btn-border-color: #f5f5f5;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #ececec;
  --bs-btn-hover-border-color: #ececec;
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #e0e0e0;
  --bs-btn-active-border-color: #e0e0e0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: #f5f5f5;
  --bs-btn-disabled-border-color: #f5f5f5;
}

.modal {
  --bs-modal-border-radius: 5px;
}

/* 
다크모드 스위치 패스
#feed-modal-like css 용도 불명
#feed-modal-inputbox border color 의미가 있나..?

*/

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* #nav-bar, .modal, #body, #body-sub, #start-btn, #footer {
  border: 2px white solid;
} */
