:root {
  /* color */

  --aim-base-tone: #262626;
  --aim-base-tone-up: #595959;
  --aim-base-tone-down: #0d0d0d;
  --aim-base-tone-sub: #737373;

  --aim-base-alpa: #00000000;
  --aim-fill-alpa: #000000ff;
  --aim-harf-alpa: #00000088;
  --aim-quarter-alpa: #00000044;
  /* --aim-btn-default
  --aim-btn-hover */

  --aim-border: #a6a6a6;

  /* ---------sub---------- */
  --aim-emphasis-red: #e75656;
  /* naver login */
  --aim-fill-green: #03c75a;

  /* text */
  --aim-text-default: white;
  --aim-text-sub: gray;

  --aim-text-href: #7097e5;

  /* font size */
  --aim-small-font-size: 0.8rem;
  --aim-nomal-font-size: 1.4rem;
  --aim-large-font-size: 1.8rem;
  --aim-larger-font-size: 1.5rem;
  --aim-largest-font-size: 3rem;

  /* font weight */
}

/* 
다크모드 스위치 패스
#feed-modal-like css 용도 불명
#feed-modal-inputbox border color 의미가 있나..?

*/

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* #nav-bar, .modal, #body, #body-sub, #start-btn, #footer {
  border: 2px white solid;
} */
