body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--aim-base-tone-down);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color1: #f22738;
  --color2: #049dd9;
  --color3: #03658c;
  --color4: #f2f2f2;
  --color5: #0d0d0d;
}

.form-text {
  color: var(--aim-help-warning);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--aim-base-tone) inset !important;
  -webkit-text-fill-color: var(--aim-text-default) !important;
}

.blur-modal.modal.show {
  opacity: 1;
  backdrop-filter: blur(var(--aim-backdrop-blur));
}

.form-control::placeholder {
  color: var(--aim-text-sub);
}

.profile-edit-nickname-icon {
  cursor: pointer;
}

.setting-label {
  font-size: 1.05rem;
}

.personalSetting-menu.nav-link {
  color: var(--aim-text-sub);
}

.personalSetting-menu.nav-link.active {
  color: var(--aim-text-default);
}

.progress-bar-success:hover {
  cursor: pointer;
}

#small-profile,
#setting-type-btn {
  cursor: pointer;
}
