body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nanum Gothic", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--aim-base-tone-down);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.index-content-text {
  font-family: var(--aim-index-content-font);
}

.Video_p__-0kmm {
  font-family: "Nanum Gothic", sans-serif;
}

.form-text {
  color: var(--aim-help-warning);
}

.form-control {
  border-radius: var(--aim-btn-border-radius);
}

.btn {
  border-radius: var(--aim-btn-border-radius);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--aim-base-tone) inset !important;
  -webkit-text-fill-color: var(--aim-text-default) !important;
}

.blur-modal.modal.show {
  opacity: 1;
  backdrop-filter: blur(var(--aim-backdrop-blur));
}

.form-control::placeholder {
  color: var(--aim-text-sub);
}

.profile-edit-nickname-icon,
.progress-bar-success:hover,
#small-profile,
#setting-type-btn,
.small-profile-nickname,
.alarm-info-log {
  cursor: pointer;
}

.setting-label {
  font-size: 1.05rem;
}

.personalSetting-menu.nav-link {
  color: var(--aim-text-sub);
}

.personalSetting-menu.nav-link.active {
  color: var(--aim-text-default);
}

.tag-text {
  position: relative;
  top: -1px;
}

.btn-nickname {
  width: 70px;
  padding: 8px;
  font-size: 0.8rem;
  margin-bottom: 8px;
}
