.section {
  width: 100%;
  margin-top: 100px;
}

.container {
  width: 83.333%;
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.contentSection {
  color: var(--aim-text-default);
  width: 60%;
  display: inline-block;
}

.imageSection {
  width: 480px;
  display: inline-block;
}

.contentSection .title {
  /* text-transform: uppercase; */
  font-size: 28px;
}

.contentSection .content h3 {
  margin-top: 20px;
  font-size: 21px;
}

.contentSection .content p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }

  .contentSection {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .imageSection {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .contentSection .title {
    text-transform: center;
    font-size: 19px;
  }
}
