#faq-container {
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 0;
}

#type {
  display: block;
  font-size: 1rem;
  justify-content: center;
  min-width: 250px;
  height: 100vh;
  float: left;
  margin: 0% 10% 0% 5%;
  border-right: 1px solid var(--aim-border);
  /* background-color: red; */
  /* border-right: 1px solid black; */
  /* border: 1px solid black; */
}

#FaqType {
  position: fixed;
  /* top: 30%; */
}

#titleContent {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  /* align-items: center; */
  padding-top: 2%;
  float: left;
  width: 1100px;
  height: 800px;
  /* background-color: blue; */
  /* border: 1px solid blue; */
}

.accordion-button {
  color: var(--aim-text-default);
  background-color: transparent !important;
}

.accordion-button:active {
  color: var(--aim-text-default) !important;
  background-color: transparent !important;
}

html {
  --bs-accordion-active-color: var(--aim-text-default);
}

.accordion {
  --bs-accordion-btn-icon: none;
  --bs-accordion-btn-active-icon: none;
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: none;
}
