/* 반응형 시도 중
@media screen and (min-width: 700px) {
  #feed-modal-image {
    display: inline-block;
    width: 60%;
  }

  #feed-modal-content {
    display: inline-block;
    width: 40%;
  }
} */

#feed-modal-image {
  width: 60%;
  height: 100%;
  float: left;
  padding: 1.5%;
  /* border: 1px solid blue; */
}

#feed-modal-content {
  width: 40%;
  height: 100%;
  float: right;
  padding: 1.5% 1.5% 1.5% 0;

  /* border: 1px solid white; */
}

#feed-modal-pic {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* border: 1px solid red; */
  /* transform: translate(0, 3.7%); */
}

#modal-like-icon {
  height: 20px;
  width: 20px;
  float: left;
  position: absolute;
  bottom: 25px;
  margin-left: 15px;
}

#feed-modal-profile {
  width: 90%;
  height: 50px;
  position: relative;
}

#feed-modal-propic {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
  float: left;
}

#feed-modal-writer {
  width: auto;
  height: 4 0px;
  margin-top: 5px;
  margin-left: 7px;
  text-align: left;
  line-height: 38px;
  float: left;
  color: white;
}

#feed-modal-follow {
  width: 80px;
  height: 32px;
  float: left;
  margin-top: -5px;
  margin-left: 15px;
  color: white;
}

#feed-modal-like {
  border: 2px solid purple;
  width: 80px;
  height: 32px;
  float: right;
  margin-top: 10px;
  margin-right: 6px;
  color: white;
  line-height: 28px;
  border-radius: 15px;
}

#feed-modal-setting {
  float: right;
  height: 100%;
}

#feed-modal-originalcontent {
  width: 100%;
  height: 44%;
  position: relative;
  color: white;
  text-align: left;
  margin-top: 10px;
}

#feed-modal-tag {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 3px;
  color: white;
  text-align: left;
}

#feed-modal-day {
  width: 95%;
  height: 25px;
  position: absolute;
  bottom: 35px;
  color: white;
  text-align: right;
}

#feed-modal-commentinput {
  width: 100%;
  height: 45px;
  margin-top: 10px;
}

#feed-modal-inputbox {
  background-color: rgba(17, 15, 26, 1);
  border-radius: 30px;
  /* width: 85%; */
  width: 100%;
  height: 75%;
  color: white;
  border: 0.1px black solid;
  float: left;
  outline: none;
  /* margin-left: 15px; */
}

#feed-modal-comscroll {
  height: 35%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#feed-modal-comment {
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}

#feed-modal-commentpic {
  /* border: 1px solid blue; */
  width: 33px;
  height: 33px;
  margin-top: 12px;
  margin-left: 5px;
  border-radius: 10px;
  float: left;
}

#feed-modal-com {
  width: 77%;
  height: auto;
  float: left;
  color: white;
  margin-left: 7px;
  margin-top: 10px;
}

#feed-modal-commentwriter {
  float: left;
  width: 100%;
  height: auto;
}

#feed-modal-comwriter {
  float: left;
  width: auto;
  height: auto;
  font-size: 15px;
}

#feed-modal-comdt {
  float: right;
  height: auto;
  margin-left: 30px;
  font-size: 12px;
}

#feed-modal-commentcontent {
  float: left;
  width: 100%;
  height: auto;
  text-align: left;
}

#feed-modal-commentutil {
  height: 15px;
  width: 100%;
  float: left;
  color: #717171;
  font-size: 7px;
}

#feed-modal-commentdelete {
  float: right;
  margin-right: 10px;
  color: #e75656;
}

#feed-modal-commentdelete:hover {
  cursor: pointer;
}

#feed-modal-commentreport {
  float: right;
}

#feed-modal-commentlike {
  float: left;
}

#feed-modal-commentheart {
  border: 1px solid blue;
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 15px;
}

#feed-modal-comment::-webkit-scrollbar {
  display: none;
}

#feed-modal-comscroll::-webkit-scrollbar {
  display: none;
}
