/* 반응형 시도 중
@media screen and (min-width: 700px) {
  #feed-modal-image {
    display: inline-block;
    width: 60%;
  }

  #feed-modal-content {
    display: inline-block;
    width: 40%;
  }
} */

#feed-modal-image {
  width: 60%;
  height: 100%;
  float: left;
  padding: 1.5%;
  /* border: 1px solid blue; */
}

#feed-modal-content {
  width: 40%;
  height: 100%;
  float: right;
  padding: 1.5% 1.5% 1.5% 0;
  min-height: 50%;
  /* border: 1px solid white; */
}

#feed-modal-pic {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* border: 1px solid red; */
  /* transform: translate(0, 3.7%); */
}

#modal-like-icon {
  height: 20px;
  width: 20px;
  float: left;
  position: absolute;
  bottom: 25px;
  margin-left: 15px;
}

#feed-modal-profile {
  width: 93%;
  height: 50px;
  position: relative;
  display: flex;
}

#feed-modal-propic {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
  float: left;
}

#feed-modal-writer {
  width: auto;
  height: 4 0px;
  margin-top: 5px;
  margin-left: 7px;
  text-align: left;
  line-height: 38px;
  float: left;
  color: var(--aim-default-white);
}

#feed-modal-follow {
  width: 80px;
  height: 32px;
  float: left;
  margin-top: 9px;
  margin-left: 30px;
}

#feed-modal-like {
  border: 2px solid purple;
  width: 80px;
  height: 32px;
  float: right;
  margin-top: 10px;
  margin-right: 6px;
  color: var(--aim-default-white);
  line-height: 28px;
  border-radius: 15px;
}

#feed-modal-setting {
  height: 65%;
  width: 50px;
  margin-left: 100px;
  margin-top: 7gpx;
}

#feed-modal-setting:hover {
  cursor: pointer;
}

#feed-modal-originalcontent {
  width: 95%;
  height: 44%;
  position: relative;
  color: var(--aim-default-white);
  text-align: left;
  margin-top: 10px;
}

#feed-modal-tag {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 3px;
  color: var(--aim-default-white);
  text-align: left;
}

#feed-modal-day {
  width: 95%;
  height: 25px;
  position: absolute;
  bottom: 35px;
  color: var(--aim-default-white);
  text-align: right;
}

#feed-modal-commentinput {
  width: 100%;
  height: 45px;
  margin-top: 10px;
}

#feed-modal-inputbox {
  background-color: var(--aim-input);
  border-radius: 30px;
  /* width: 85%; */
  width: 100%;
  height: 75%;
  color: var(--aim-default-white);
  border: 0.1px black solid;
  float: left;
  outline: none;
  /* margin-left: 15px; */
  padding-left: 10px;
}

#feed-modal-comscroll {
  height: 38%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#feed-modal-comment {
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}

#feed-modal-commentpic {
  /* border: 1px solid blue; */
  width: 33px;
  height: 33px;
  margin-top: 12px;
  margin-left: 5px;
  border-radius: 10px;
  float: left;
}

#feed-modal-com {
  width: 77%;
  height: auto;
  float: left;
  color: var(--aim-default-white);
  margin-left: 7px;
  margin-top: 10px;
}

#feed-modal-commentwriter {
  float: left;
  width: 100%;
  height: auto;
}

#feed-modal-comwriter {
  float: left;
  width: auto;
  height: auto;
  font-size: 15px;
}

#feed-modal-comdt {
  float: right;
  height: auto;
  margin-left: 30px;
  font-size: 12px;
}

#feed-modal-commentcontent {
  float: left;
  width: 100%;
  height: auto;
  text-align: left;
}

#feed-modal-commentutil {
  height: 15px;
  width: 100%;
  float: left;
  color: var(--aim-default-gray);
  font-size: 7px;
}

#feed-modal-commentdelete {
  float: right;
  color: var(--aim-btn-close);
}

#feed-modal-commentdelete:hover {
  cursor: pointer;
}

#feed-modal-commentreport {
  float: right;
}

#feed-modal-commentlike {
  float: left;
}

#feed-modal-commentheart {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 14px;
}

#feed-modal-replylike {
  float: left;
  width: 13px;
  height: 13px;
  margin-top: 1.5px;
  margin-left: 5px;
}

#feed-modal-replylike:hover {
  cursor: pointer;
}

#feed-modal-commentreport:hover {
  cursor: pointer;
}

#feed-modal-comment::-webkit-scrollbar {
  display: none;
}

#feed-modal-comscroll::-webkit-scrollbar {
  display: none;
}

#report-main {
  position: fixed;
  top: 21%;
  left: 38%;
  width: 300px;
  height: auto;
  background-color: var(--aim-inner-modal);
  border: 1px solid var(--aim-border);
  border-radius: 10px;
  color: var(--aim-default-white);
  z-index: 200;
  animation: modal-show 0.1s ease-in-out;
}

#report-title {
  text-align: center;
  font-size: 24px;
  height: 13%;
}

#report-close {
  position: absolute;
  top: -6px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: var(--aim-btn-close);
}

#report-contentbox {
  margin-top: 3%;
  height: 84%;
}

#report-menu {
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
}

#report-menuicon {
  margin-top: 2px;
  width: 20px;
  height: 20px;
  float: right;
}

#report-menu:hover {
  cursor: pointer;
  color: var(--aim-btn-close);
}

#report-box {
  height: 300px;
}

#report-text {
  width: 90%;
  height: 85%;
  margin-left: 5%;
}

#report-textarea {
  width: 100%;
  height: 100%;
  background-color: var(--aim-inner-modal-next);
  color: var(--aim-default-white);
  outline: none;
  border: none;
  border-radius: 10px;
  resize: none;
}

#report-textarea:focus {
  outline: none;
  border: none;
}

#report-btn {
  width: 30%;
  text-align: center;
  margin-left: 35%;
  margin-top: 3%;
  background-color: var(--aim-inner-modal);
  border-radius: 10px;
  color: var(--aim-btn-close);
  font-weight: bold;
}

#report-btn:hover {
  background-color: var(--aim-button-after);
  cursor: pointer;
}

#feed-modal-boardreport {
  height: 15px;
  width: 15%;
  float: right;
  color: var(--aim-default-gray);
  font-size: 7px;
  text-align: right;
  margin-top: 8px;
  margin-right: 20px;
}

#feed-modal-boardreport:hover {
  cursor: pointer;
}

#menu-textarea {
  width: 100%;
  height: 100%;
  background-color: var(--aim-inner-modal-next);
  color: var(--aim-default-gray);
  outline: none;
  border: none;
  border-radius: 10px;
  resize: none;
}

#menu-textarea:focus {
  outline: none;
  border: none;
}

#menu-box {
  height: 80px;
}

#menu-btn {
  width: 30%;
  text-align: center;
  margin-left: 14%;
  background-color: var(--aim-inner-modal);
  border-radius: 10px;
  color: var(--aim-btn-close);
  font-weight: bold;
  float: left;
  margin-bottom: 10px;
}

#menu-btn:hover {
  background-color: var(--aim-button-after);
  cursor: pointer;
}

#btn-div {
}

#menu-btn2 {
  width: 30%;
  text-align: center;
  margin-left: 14%;
  background-color: var(--aim-inner-modal-next);
  border-radius: 10px;
  color: var( --aim-default-white);
  float: left;
  margin-bottom: 30px;
}

#menu-btn2:hover {
  background-color: var(--aim-button-after);
  cursor: pointer;
}

#menu-text {
  width: 90%;
  height: 85%;
  text-align: center;
  margin-top: 15%;
  margin-left: 5%;
}

#modal-money-icon {
  height: 20px;
  width: 20px;
  float: left;
  position: absolute;
  bottom: 25px;
  margin-left: 50px;
}

#modal-money {
  height: 20px;
  width: auto;
  float: left;
  position: absolute;
  bottom: 28px;
  margin-left: 75px;
  color: var(--aim-default-white);
}

#modal-money-icon:hover {
  cursor: pointer;
}

#modal-like-icon:hover {
  cursor: pointer;
}

#feed-modal-moneyinput {
  background-color: #1d1d1d;
  border-radius: 30px;
  width: 70%;
  height: 30px;
  color: var(--aim-default-white);
  outline: none;
  margin-top: 10px;
  margin-bottom: 5px;
  border: 0.1px solid var(--aim-border);
  padding-left: 10px;
}

#feed-money-credit {
  margin-bottom: 30px;
  margin-right: 70px;
  margin-top: 5px;
  color: var(--aim-default-gray);
}

#money-btn {
  width: 30%;
  text-align: center;
  margin-left: 14%;
  background-color: var(--aim-inner-modal-next);
  border-radius: 10px;
  color: var(--aim-point-color);
  font-weight: bold;
  float: left;
  margin-bottom: 10px;
}

#money-btn:hover {
  background-color: var(--aim-button-after);
  cursor: pointer;
}

#money-btn2 {
  width: 30%;
  text-align: center;
  margin-left: 14%;
  background-color: var(--aim-inner-modal-next);
  border-radius: 10px;
  color: var(--aim-default-white);
  float: left;
  margin-bottom: 30px;
}

#money-btn2:hover {
  background-color: var(--aim-button-after);
  cursor: pointer;
}

#money-main {
  position: fixed;
  top: 31%;
  left: 38%;
  width: 300px;
  height: auto;
  background-color: var(--aim-inner-modal);
  border: 1px solid var(--aim-border);
  border-radius: 10px;
  color: var(--aim-default-white);
  z-index: 200;
  animation: modal-show 0.1s ease-in-out;
}

#feed-modal-boarddelete {
  height: 15px;
  width: 15%;
  float: right;
  color: var(--aim-btn-close);
  font-size: 7px;
  text-align: right;
  margin-top: 8px;
  margin-right: 20px;
}

#feed-modal-boardupdate {
  height: 15px;
  width: 15%;
  float: right;
  color: var(--aim-default-gray);
  font-size: 7px;
  text-align: right;
  margin-top: 8px;
}

#feed-modal-boardupdate:hover,
#feed-modal-boarddelete:hover {
  cursor: pointer;
}

.tooltip {
  position: relative;
}

#modal-money-icon:hover::before {
  /* content: "0"; */
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--aim-default-gray);
  color: var(--aim-default-white);
  padding: 5px;
  border-radius: 3px;
  width: auto;
}

#nocommnet {
  color: var(--aim-default-gray);
  margin-top: 100px;
}
