
#profileUpper {
    width: 100%;
    height: 140px;

    background-color: #9999990f;
    box-sizing: border-box;
    position: relative;
}

#profileUpper > div {
    display: inline-block;
}

#profileUpper > .profile-image {
    width: 100px;
    height: 100px;

    background-color: black;
    color: wheat;

    box-sizing: border-box;
    border-radius: 10%;

    position: relative;
    top: 20px;
    left: 20px;


}

#profileUpper > .profile-info {
    height: 100px;
    position: absolute;
    display: inline;
    top: 30px;
    left: 140px;
}

.profile-info > .profile-name {
    font-size: xx-large;
    color: azure;
}

.profile-info > .profile-detail {
    color: azure;
    position: relative;
    top: 10px;
}

.profile-info > .profile-detail li {
    float: left;
    margin-right: 50px;
    list-style-type: none;
}