.auth-modal-backdrop {
  background-color: #00000000;
}

.auth-modal-dialog {
  margin-right: 16px;
  margin-top: 55px;
  width: 150px;
}

.auth-modal-dialog-wide {
  width: 170px;
}

.auth-modal-link {
  text-decoration: none;
  color: black;
}
