.auth-modal-backdrop {
  background-color: var(--aim-fill-alpa);
}

.auth-modal-dialog {
  margin-right: 16px;
  margin-top: 55px;
  width: 150px;
}

.auth-modal-dialog-wide {
  width: 170px;
}

.auth-modal-link {
  text-decoration: none;
  color: var(--aim-auth-modal);
}
