#feed-list {
  border: 1px solid dimgray;
}

#tag-bar {
  width: 99.9%;
  height: 70px;
}

#feed-body-sub {
  width: 99.5%;
  height: auto;
}

#tag {
  display: inline-block;
  height: 30px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20%;
  color: white;
  text-align: center;
  line-height: 30px;
  border: 1px solid dimgray;
  padding: 7px;
}

#tag:hover {
  background-color: darkslategray;
}

#feed-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  text-align: center;
  width: 100%;
}

#feed-list {
  width: 350px;
  height: 350px;
  border-radius: 3%;
  margin: 10px 10px;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

#feed-content {
  margin-top: 280px;
  margin-left: 15px;
  width: 320px;
}

#feed-writer {
  width: 50px;
  height: 30px;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
}

#feed-like {
  width: 50px;
  height: 30px;
  float: right;
  margin-top: 8px;
  margin-right: -30px;
}

.feed-item {
  display: none;
}

.feed-list:hover .feed-item {
  display: block;
}

#feed-list:hover {
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}

#feed-small-font {
  font-size: 14px;
  text-align: left;
  margin-top: 3%;
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
