input.like-btn[type="checkbox"] {
  background-color: white;
  height: 50px;
  width: 50px;
  position: relative;
  outline: none;
  transform: rotate(45deg);
  -webkit-appearance: none;
}

input.like-btn[type="checkbox"]:before {
  position: absolute;
  content: "";
  background-color: white;
  height: 60%;
  width: 100%;
  top: -59%;
  border-radius: 75px 75px 0 0;
}

input.like-btn[type="checkbox"]:after {
  position: absolute;
  content: "";
  background-color: white;
  height: 60%;
  width: 100%;
  transform: rotate(-90deg);
  border-radius: 75px 75px 0 0;
  top: 20%;
  right: 79%;
}

input.like-btn[type="checkbox"].like-btn:checked,
input.like-btn:checked[type="checkbox"]:before,
input.like-btn:checked[type="checkbox"]:after {
  background-color: red;
}
